
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/fundo-ct.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho correto para a sua imagem */
    background-size: cover; /* Para cobrir todo o corpo */
    background-position: center; /* Para centralizar a imagem */
}

h1, h2, h3, h4, h5 {
    color: white; /* Garantindo que o título tenha a cor branca */
}


ul {
    list-style-type: none;
    padding: 0;
}

.btn {
    display: block;
    width: 200px;
    height: 25px;
    margin: 10px 2px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}


/*Estilos par ao footer */
.footer-white {
    background-color: white;
}

.footer-text {
    color: white;
}